* {
    margin: 0;
    padding: 0;
}

a,
p,
h1,
h2,
h3,
h4,
h5 {
    font-family: courier
}

body {
    background: #222;
}

.gridhead {
    width: 100%;
    height: 225px;
    margin-top: 25px;
    background: #999955;
    background-image: linear-gradient(#DAB046 20%, #D73B25 20%, #D73B25 40%, #C71B25 40%, #C71B25 60%, #961A39 60%, #961A39 80%, #601035 80%);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "LEGO PeaFUNK"
        "LEGO navi";
}

#LEGO {
    grid-area: LEGO;
}

#PeaFUNK {
    grid-area: PeaFUNK;
}

#navi {
    grid-area: navi;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    color: #222;
    background: #E9E2D0;
    background-image: url("../imgs/paper-tex.webp");
    filter: sepia(1);
    font-size: 60px;
    border-radius: 10px;
    font-weight: bold;
}

.headshot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headshot img {
    border-radius: 100px;
    filter: sepia(1);
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar a {
    font-weight: bold;
    color: #222;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 25px;
    height: 30px;
    background: #E9E2D0;
    background-image: url("../imgs/paper-tex.webp");
    filter: sepia(1);
    border-radius: 10px;
}

.navbar a:hover {
    border-bottom: solid 5px #222;
}

.gridtion {
    width: 100%;
    height: 225px;
    display: grid;
    margin-top: 50px;
    margin-right: 50px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "about-me blurb";

}

#blurb {
    grid-area: blurb;
    background-image: url("../imgs/paper-tex.webp");
    filter: sepia(1);
}

#about-me {
    grid-area: about-me;
    background-image: url("../imgs/paper-tex.webp");
    filter: sepia(1);
}


.card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E9E2D0;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    height: 125px;

}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E9E2D0;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;

}

.card-right a {
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-left h2 {
    border-bottom: 5px solid #222;
    color: #222;
    font-size: 25px;
}

.gridtion2 {
    width: 100%;
    display: grid;
    margin-top: 50px;
    margin-right: 50px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "my-work work-grid";
}

#my-work {
    grid-area: my-work;
    background-image: url("../imgs/paper-tex.webp");
    filter: sepia(1);

}

#work-grid {
    grid-area: work-grid;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    background-color: #ffffd9;
}

.gridticle {
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "illustration illustration illustration research research"
        "illustration illustration illustration design design"
        "web-dev web-dev web-dev design design"
}

#illustration {
    grid-area: illustration;
    background-image: url("../imgs/illus.webp")
}

#design {
    grid-area: design;
    background-image: url("../imgs/design4.jpg");
}

#web-dev {
    grid-area: web-dev;
    background-image: url("../imgs/github.jpg");
}

#research {
    grid-area: research;
    background-image: url("../imgs/RSC.jpg");
}

#mfg {
    grid-area: mfg;
    background-image: url();
}

.gridticle-card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
}

.gridticle-card:hover {
    border: solid 3px #222;
}

.gridticle-heading {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    height: 25px;
    width: 165px;
    color: #ffffd9;
    font-family: Courier;
    font-size: 18px;
    font-weight: bold;
    border-bottom: solid 5px #961A39;
}

.gridtion3 {
    width: 100%;
    height: 125px;
    display: grid;
    margin-top: 50px;
    margin-right: 50px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "contact-me contact-bar";

}

#contact-me {
    grid-area: contact-me;
    background-image: url("../imgs/paper-tex.webp");
    filter: sepia(1);
}

#contact-bar {
    grid-area: contact-bar;
}

.contactbar {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
    background-image: url("../imgs/paper-tex.webp");
    filter: sepia(1);

}

.contacticon img {
    max-width: 75px;
}

.contacticon img:hover {
    border-bottom: solid 3px #222;
}

footer {
    width: 100%;
    height: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #999955;
    background-image: linear-gradient(#DAB046 20%, #D73B25 20%, #D73B25 40%, #C71B25 40%, #C71B25 60%, #961A39 60%, #961A39 80%, #601035 80%);
}

footer h4 {
    color: #ffffd9;
}

/* @media screen and (max-width: 640px) {
    
}
 

@media screen and (min-width: 641px) and (max-width: 1007px) {

}

@media screen and (min-width: 1008px) {

} */

@media screen and (max-width: 640px) {
    .gridhead {
        width: 100%;
        height: 150px;
        margin-top: 25px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "LEGO"    
            "PeaFUNK"
            "navi";
    }
    .headshot img {
        max-width: 100px;
    
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title h1 {
        font-size: 20px;
        border-radius: 5px;
    }
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .navbar a {
        font-weight: bold;
        color: #222;
        font-size: 15px;
        height: 15px;
        border-radius: 5px;
    }
    .navbar a:hover {
        border-bottom: solid 2px #222;
    }
    .gridtion {
        width: 100%;
        height: 125px;
        display: grid;
        margin-top: 25px;
        margin-right: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "about-me"
            "blurb";
}
    #blurb2,#blurb3, #blurb4 {
        display: none;
    }
    .card-left {
        height: 75px;
        margin-bottom: 15px;
        margin-top: 0px;
    }
   
    .gridtion2 {
        width: 100%;
        display: grid;
        margin-top: 50px;
        margin-right: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "my-work"
            "work-grid";
    }
    .gridticle {
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    grid-template-rows: 250px 200px 150px 150px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "illustration"
        "design"
        "web-dev"
        "research"
}

.gridtion3 {
    width: 100%;
    height: 175px;
    display: grid;
    margin-top: 25px;
    margin-right: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "contact-me" 
        "contact-bar";

}
.contactbar {
    display: flex;
    flex-wrap: wrap;
}