* {
    margin: 0;
    padding: 0;
}

a,
p,
h1,
h2,
h3,
h4,
h5 {
    font-family: courier
}

body {
    background: #222;
}

.gridhead {
    width: 100%;
    height: 225px;
    margin-top: 25px;
    background: #999955;
    background-image: linear-gradient(#DAB046 20%, #D73B25 20%, #D73B25 40%, #C71B25 40%, #C71B25 60%, #961A39 60%, #961A39 80%, #601035 80%);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "LEGO PeaFUNK"
        "LEGO navi";
}

#LEGO {
    grid-area: LEGO;
}

#PeaFUNK {
    grid-area: PeaFUNK;
}

#navi {
    grid-area: navi;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 50px; */
}

.title h1 {
    color: #222;
    background: #E9E2D0;
    background-image: url("../imgs/paper-tex.webp");
    filter: sepia(1);
    font-size: 60px;
    border-radius: 10px;
    font-weight: bold;
}

.headshot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headshot img {
    border-radius: 100px;
    filter: sepia(1);
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar a {
    font-weight: bold;
    color: #222;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 25px;
    height: 30px;
    background: #E9E2D0;
    background-image: url("../imgs/paper-tex.webp");
    filter: sepia(1);
    border-radius: 10px;

}

.gridtion {
    width: 100%;
    height: 225px;
    display: grid;
    margin-top: 50px;
    margin-right: 50px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "about-me blurb";

}

#blurb {
    grid-area: blurb;
    background-image: url("../imgs/paper-tex.webp");
    filter: sepia(1);
}

#about-me {
    grid-area: about-me;
    background-image: url("../imgs/paper-tex.webp");
    filter: sepia(1);
}


.card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E9E2D0;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    height: 125px;

}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E9E2D0;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;

}

.card-right a {
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-left h2 {
    border-bottom: 5px solid #222;
    color: #222;
    font-size: 25px;
}

.gridtion2 {
    width: 100%;
    display: grid;
    margin-top: 50px;
    margin-right: 50px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "my-work work-grid";
}

#my-work {
    grid-area: my-work;
    background-image: url("../imgs/paper-tex.webp");
    filter: sepia(1);

}

#work-grid {
    grid-area: work-grid;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    background-color: #ffffd9;
}

.gridticle {
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "research illustration illustration "
        "design illustration illustration "
        "design web-dev web-dev"

}


#illustration {
    grid-area: illustration;
    background-image: url("../imgs/toad.jpg")
}

#design {
    grid-area: design;
    background-image: url("../imgs/design4.jpg");
}

#web-dev {
    grid-area: web-dev;
    background-image: url("../imgs/github.jpg");
}

#research {
    grid-area: research;
    background-image: url("../imgs/RSC.jpg");
}

#mfg {
    grid-area: mfg;
    background-image: url();
}

.gridticle-card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    cursor: pointer;
    display: grid;
    align-content: end;
    text-decoration: none;
}

.heading {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    height: 25px;
    color: #ffffd9;
    font-family: Courier;
    font-size: 18px;
    font-weight: bold;
}